<!DOCTYPE html>

<title>Test</title>

{% block body %}
    <h1>Test</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdTest</th>
                <td>{{ test.idTest }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ test.id }}</td>
            </tr>
            <tr>
                <th>DateTest</th>
                <td>{{ test.dateTest }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ test.score }}</td>
            </tr>
            <tr>
                <th>NameT</th>
                <td>{{ test.nameT }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('test_index') }}">back to list</a>

    <a href="{{ path('test_edit', {'idTest': test.idTest}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
