{% extends 'base.html.twig' %}


{% block title %}Question index{% endblock %}
 {% block content %}
     {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     {% block body %}

         <h1>Question index</h1>

         <table >
             <tr>
                 <th>ID</th>
                 <th>Question</th>
                 <th>Nbre des points</th>
                 <th>categorie</th>
                 <th>actions</th>
             </tr>
             </thead>
             <tbody>
             {% for question in questions %}
                 <tr>
                     <td>{{ question.idQ }}</td>
                     <td>{{ question.textQ }}</td>
                     <td>{{ question.nbrPoint }}</td>
                     <td>{{ question.nameT }}</td>
                     <td>
                         <button type=“button” class="button-show"><a href="{{ path('question_show', {'idQ': question.idQ}) }}">show</a></button>
                         <button type=“button” class="button-edit"><a href="{{ path('question_edit', {'idQ': question.idQ}) }}">edit</a></button>
                     </td>
                 </tr>
             {% else %}
                 <tr>
                     <td colspan="5">no records found</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>

         <button type=“button” class="button-create"><a href="{{ path('question_new') }}">Create new</a></button>


         <style>

             .button-create {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #fff3cd;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }
             .button-show {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #d3e0ea;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }
             .button-edit {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #fde8cd;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }

         </style>

     {% endblock %}
     <form role="search" id="nav-search-form" method="post" action="{{ path('/question/tri') }}">
         <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
             <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                 <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                     tri par nombre des points
                 </button>


             </div>
         </div>
     <form role="search" id="nav-search-form" method="post" action="{ path('triCategorieB'){ }}">
         <div class="btn-toolbar" role="toolbar" aria-label="Programmatic control">
             <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
                 <button class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">
                     tri par ordre de catégorie
                 </button>


             </div>
         </div>



     </form>
 {% endblock %}