<!DOCTYPE html>

<<<<<<< HEAD
{% block title %}New Question{% endblock %}
 {% block content %}
     {% block body %}

         <h1>Create new Question</h1>
         {{ form_start(form) }}
         {{form_label (form.textQ, "la question à demander:")}}
         {{form_widget(form.textQ,{'attr':{'placeholder' : ' Votre question'}} )}}
         {{form_errors (form.textQ) }}
         <br>

         {{form_label (form.nbrPoint, "Nombre des points:")}}
         {{form_widget(form.nbrPoint,{'attr':{'placeholder' : ' Points<6 '}} )}}
         {{form_errors (form.nbrPoint) }}
         <br>
         {{form_label (form.nameT, "Catégorie:")}}
         {{form_widget(form.nameT,{'attr':{'placeholder' : ' Champs catégorie'}} )}}
         {{form_errors (form.nameT) }}

         {{ include('question/_form.html.twig') }}
         </center>
         <a href="{{ path('question_index') }}">back to list</a>
         {{ form_end (form) }}
     {% endblock %}
 {% endblock %}
=======
<title>New Question</title>

{% block body %}
    <h1>Create new Question</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('question_index') }}">back to list</a>
{% endblock %}
>>>>>>> parent of e6f4196 (-)
