<!DOCTYPE html>

<title>Question</title>

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdQ</th>
                <td>{{ question.idQ }}</td>
            </tr>
            <tr>
                <th>TextQ</th>
                <td>{{ question.textQ }}</td>
            </tr>
            <tr>
                <th>NbrPoint</th>
                <td>{{ question.nbrPoint }}</td>
            </tr>
            <tr>
                <th>NameT</th>
                <td>{{ question.nameT }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('question_index') }}">back to list</a>

    <a href="{{ path('question_edit', {'idQ': question.idQ}) }}">edit</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
