<!DOCTYPE html>

<title>Certificat</title>

{% block body %}
    <h1>Certificat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCertif</th>
                <td>{{ certificat.idCertif }}</td>
            </tr>
            <tr>
                <th>TitreCertif</th>
                <td>{{ certificat.titreCertif }}</td>
            </tr>
            <tr>
                <th>DateCertif</th>
                <td>{{ certificat.dateCertif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('certificat_index') }}">back to list</a>

    <a href="{{ path('certificat_edit', {'idCertif': certificat.idCertif}) }}">edit</a>

    {{ include('certificat/_delete_form.html.twig') }}
{% endblock %}
