{% extends 'baseF.html.twig' %}
{% block head %}
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
{% endblock %}
{% block title %}Reclamation index{% endblock %}
{% block contentfr %}

{% block bodyfr %}




<main>

    <!--? slider Area Start-->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Reclamations</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ asset('index.html') }}">Home</a></li>
                                        <li class="breadcrumb-item"><a href="{{ asset('#') }}">Contact</a></li>
                                        <li class="breadcrumb-item"><a href="{{ path('reclamationF_index') }}">Reclamation</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Blog Area Start-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for reclamation in reclamations %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <a href="{{ asset('#') }}" class="blog_item_date">
                                        <h3>{{ reclamation.objet}}</h3>
                                    </a>

                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="{{ asset('blog_details.html') }}">
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{ reclamation.textR }}</h2>
                                    </a>

                                    <p>{{ reclamation.enseignant }}{{ reclamation.cours }}</p>
                                    <p style="float: right">{{ reclamation.dateEnvoi }}</p>
                                    <br>
                                    <ul class="blog-info-link">
                                        <li><a href="{{ path('reclamation_showF', {'idRec': reclamation.idRec}) }}"><i class="fa fa-user"></i> show</a></li>
                                        <li><a href="{{ path('reclamation_delete', {'idRec': reclamation.idRec}) }}"><i class="fa fa-trash"></i> delete</a></li>
                                        <li><a href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}"><i class="fa fa-edit"></i> edit</a></li>


                                    </ul>
                                </div>

                            </article>
                        {% else %}
                            <h1>no records found</h1>
                        {% endfor %}
                        <button class="btn" type="button"><a href="{{ path('reclamation_new') }}">Create new</a></button>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="{{ asset('#') }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="{{ asset('#') }}" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="{{ asset('#') }}" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="{{ asset('#') }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <h4 class="widget_title" style="color: #2d2d2d;">Recherche</h4>
                                <form method="post" action="{{ path('Recherche') }}" role="Recherche" class="sr-input-func">
                                    <input type="text" placeholder="Recherche..."  name="Recherche" class="search-int form-control">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </form>
                            </form>

                        </aside>
                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" id="search" class="form-control" placeholder="Search">
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
    {% endblock %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Load Flashy default JavaScript -->
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}
{% endblock %}