{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}
{% block content %}
{% block body %}
    <h1>Reclamation index</h1>
    <a class="btn btn-primary" href="{{ path('sortbytitleasc')}}">Sort</a>
    <table class="table" id="tableac">
        <input type="text" id="search" class="form-control" placeholder='Search'>

        <thead>
            <tr>
                <th>IdRec</th>
                <th>Objet</th>
                <th>TextR</th>
                <th>DateEnvoi</th>
                <th>Cours</th>
                <th>Enseignant</th>
               <!-- <th>actions</th>-->
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idRec }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.textR }}</td>
                <td>{{ reclamation.dateEnvoi }}</td>
                <td>{{ reclamation.cours }}</td>
                <td>{{ reclamation.enseignant }}</td>
             <!--   <td>
                    <a href="{{ path('reclamation_show', {'idRec': reclamation.idRec}) }}">show</a>
                    <a href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}">edit</a>
                </td> -->
            </tr>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js
"></script>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found === 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script><script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found === 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <!-- <a href="{{ path('reclamation_new') }}">Create new</a>-->
{% endblock %}
{% endblock %}

