
{% block body %}

    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-primary">
        <h1 align="center" style="color:blue;">Reclamations</h1>
        <h2  align="center"style="color:orange;" > Liste des réclamations </h2>
    </div>
    <!DOCTYPE html>
    <html>
    <head>
        <style>
            #customers {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: blue;
                color: white;
            }
        </style>
    </head>
<body>
<table id="customers">

    <thead>
    <tr>
        <th>IdRec</th>
        <th>Objet</th>
        <th>TextR</th>
        <th>DateEnvoi</th>
        <th>Cours</th>
        <th>Enseignant</th>

    </tr>
    </thead>
    <tbody>
    {% for reclamation in reclamations %}
        <tr>
            <td>{{ reclamation.idRec }}</td>
            <td>{{ reclamation.objet }}</td>
            <td>{{ reclamation.textR }}</td>
            <td>{{ reclamation.dateEnvoi }}</td>
            <td>{{ reclamation.cours }}</td>
            <td>{{ reclamation.enseignant }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}