{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}
{% block content %}
{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdC</th>
                <td>{{ cour.idC }}</td>
            </tr>
            <tr>
                <th>NomC</th>
                <td>{{ cour.nomC }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ cour.pdf }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>Nbparticipant</th>
                <td>{{ cour.nbparticipant }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ cour.image }}</td>
            </tr>
            <tr>
                <th>IdT</th>
                <td>{{ cour.idT }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
        </tbody>
    </table>

    <button type=“button” class="button-back"><a href="{{ path('cours_index') }}">back to list</a></button>

    <button type=“button” class="button-edit"><a href="{{ path('cours_edit', {'idC': cour.idC}) }}">edit</a></button>
    <style>


        .button-edit {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fde8cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
        .button-back {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fff3cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
    </style>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}

