{% extends 'base.html.twig' %}
 {% block content %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCategorie</th>
                <th>NomCategorie</th>
                <th>Image</th>
                <th>IdT</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCategorie }}</td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>{{ categorie.image }}</td>
                <td>{{ categorie.idT }}</td>
                <td>
                    <button type=“button” class="button-show"><a href="{{ path('categorie_show', {'idCategorie': categorie.idCategorie}) }}">show</a></button>
                    <button type=“button” class="button-edit"><a href="{{ path('categorie_edit', {'idCategorie': categorie.idCategorie}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<button type=“button” class="button-create"><a href="{{ path('categorie_new') }}">Create new</a></button>
    <style>

        .button-create {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fff3cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
        .button-show {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #d3e0ea;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }
        .button-edit {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fde8cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }

    </style>

    {% endblock %}

{% endblock %}
