{% extends 'baseF.html.twig' %}
{% block contentfr %}

    {% block bodyfr %}
        <main>
            <!--? slider Area Start-->
            <section class="slider-area slider-area2">
                <div class="slider-active">
                    <!-- Single Slider -->
                    <div class="single-slider slider-height2">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-11 col-md-12">
                                    <div class="hero__caption hero__caption2">
                                        <h1 data-animation="bounceIn" data-delay="0.2s">Evènements</h1>
                                        <!-- breadcrumb Start-->
                                        <nav aria-label="breadcrumb">
                                            <ol class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="{{ path('home_contoller') }}">Home</a></li>
                                                <li class="breadcrumb-item"><a href="{{ path('evenement_indexF') }}">Events</a></li>
                                            </ol>
                                        </nav>
                                        <!-- breadcrumb End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--? Blog Area Start-->
            <section class="blog_area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-5 mb-lg-0">
                            <div id="all" class="blog_left_sidebar">
                                {% for evenement in evenements %}
                                    <article id="art" class="blog_item">
                                        <div class="blog_item_img">
                                            <a href="{{ path('evenement_showF', {'idEv': evenement.idEv}) }}" class="blog_item_date">
                                                <h3>{{ evenement.nomEv }}</h3>
                                            </a>
                                        </div>
                                        <div class="blog_details">
                                            <ul>
                                                <li><h2 class="blog-head" style="color: #2d2d2d;">Aura lieu à {{ evenement.espace }}</h2></li>
                                                <li><h2 class="blog-head" style="color: #2d2d2d;">Le {{ evenement.dateEv? evenement.dateEv|date('Y-m-d') : '' }} à {{ evenement.dateEv? evenement.dateEv|date('H:i') : '' }}</h2></li>
                                                <li><h2 class="blog-head" style="color: #2d2d2d;">{{ evenement.nombrePl }} places</h2></li>

                                            </ul>
                                        </div>

                                    </article>
                                {% else %}
                                    <h1>no records found</h1>
                                {% endfor %}
                                <nav class="blog-pagination justify-content-center d-flex">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a href="{{ asset('#') }}" class="page-link" aria-label="Previous">
                                                <i class="ti-angle-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a href="{{ asset('#') }}" class="page-link">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a href="{{ asset('#') }}" class="page-link">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="{{ asset('#') }}" class="page-link" aria-label="Next">
                                                <i class="ti-angle-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div id="search"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="blog_right_sidebar">
                                <aside class="single_sidebar_widget search_widget">
                                    <form action="#">
                                        <div class="form-group">
                                            <div class="input-group mb-3">
                                                <input id="search" type="text" class="form-control" placeholder='Search Keyword'>
                                            </div>
                                        </div>
                                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                                type="submit">Search</button>
                                    </form>
                                </aside>
                                <aside class="single_sidebar_widget newsletter_widget">
                                    <h4 class="widget_title" style="color: #2d2d2d;">Localisation</h4>
                                        <div class="d-flex form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Ariana">
                                            <label class="form-check-label">Ariana</label>&nbsp;<span>(120)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Tunis">
                                            <label class="form-check-label">Tunis</label>&nbsp;<span>(230)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Ben Arous">
                                            <label class="form-check-label">Ben Arous</label>&nbsp;<span>(57)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Béja">
                                            <label class="form-check-label">Béja</label>&nbsp;<span>(20)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Sousse">
                                            <label class="form-check-label">Sousse</label>&nbsp;<span>(70)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Sfax">
                                            <label class="form-check-label">Sfax</label>&nbsp;<span>(180)</span>
                                        </div>
                                        <div class="form-check form-check">
                                            <input type="checkbox" class="form-check-input" name="region[]" id="front" value="Nabeul">
                                            <label class="form-check-label">Nabeul</label>&nbsp;<span>(90)</span>
                                        </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Area End -->
        </main>
    {% endblock %}
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('searchEvenementx') }}",
                    /* La méthode utilisée pour transférer les données est GET */ type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('div#all').hide();
                                $('article#art').append('<h3>'+obj.idEv+'</h3><ul><li><h2 class="blog-head" style="color: #2d2d2d;">Aura lieu à '+obj.espace+
                                '</h2></li><li><h2 class="blog-head" style="color: #2d2d2d;">Le '+obj.dateEv+
                                '</h2></li><li><h2 class="blog-head" style="color: #2d2d2d;">'+obj.nombrePl+'places</h2></li></ul></div>'); });
                               }
                        else
                            {
                                $('div#all').show();
                                $('div#search').empty();
                                $('div#search').fadeIn('fast');
                            }
                        },
                    });
                return false;
            });
        });
    </script>


{% endblock %}
