{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}
{% block content %}
{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEv</th>
                <td>{{ evenement.idEv }}</td>
            </tr>
            <tr>
                <th>NomEv</th>
                <td>{{ evenement.nomEv }}</td>
            </tr>
            <tr>
                <th>DateEv</th>
                <td>{{ evenement.dateEv ? evenement.dateEv|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Espace</th>
                <td>{{ evenement.espace }}</td>
            </tr>
            <tr>
                <th>NombrePl</th>
                <td>{{ evenement.nombrePl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'idEv': evenement.idEv}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
