{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}
 {% block content %}
{% block body %}
    <h1>Create new Answer</h1>
    {{ form_start(form) }}
    {{form_label (form.textR1, "la bonne réponse:")}}
    {{form_widget(form.textR1,{'attr':{'placeholder' : ' Bonne réponse '}} )}}
    {{form_errors (form.textR1) }}
    <br>

    {{form_label (form.textR2, "Première réponse incorrecte:")}}
    {{form_widget(form.textR2,{'attr':{'placeholder' : ' réponse incorrecte1 : '}} )}}
    {{form_errors (form.textR2) }}
    <br>
    {{form_label (form.textR3, "Deuxième réponse incorrecte:")}}
    {{form_widget(form.textR3,{'attr':{'placeholder' : ' réponse incorrecte2 '}} )}}
    {{form_errors (form.textR3) }}
    <br>
    {{form_label (form.textR4, "Troisième réponse incorrecte:")}}
    {{form_widget(form.textR4,{'attr':{'placeholder' : ' réponse incorrecte3 '}} )}}
    {{form_errors (form.textR4) }}
    <br>
    {{form_label (form.idQ, "Saisir l'id de la question demandée:")}}
    {{form_widget(form.idQ,{'attr':{'placeholder' : ' ID réponse, consulter page question'}} )}}
    {{form_errors (form.idQ) }}





    {{ include('reponse/_form.html.twig') }}

    <button type=“button” class="button-back"><a href="{{ path('reponse_index') }}">back to list</a></button>

    <style>

        .button-back {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #fff3cd;
            font-size: 16px;
            font-weight: bold;
            color: red;
        }


    </style>


    {{ form_end (form) }}
{% endblock %}
 {% endblock %}