{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}
{% block content %}
    {% block body %}
    <h1>Actualite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdAc</th>
                <td>{{ actualite.idAc }}</td>
            </tr>
            <tr>
                <th>TitreAc</th>
                <td>{{ actualite.titreAc }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ actualite.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ actualite.image }}</td>
            </tr>
            <tr>
                <th>IdEv</th>
                <td>{{ actualite.idEv }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ actualite.id }}</td>
            </tr>
            <tr>
                <th>DateAjout</th>
                <td>{{ actualite.dateAjout }}</td>
            </tr>
        </tbody>
    </table>

        <button type=“button” class="button-back"><a href="{{ path('actualite_index') }}">back to list</a></button>

        <button type=“button” class="button-edit"><a href="{{ path('actualite_edit', {'idAc': actualite.idAc}) }}">edit</a></button>
        <style>


            .button-edit {
                display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fde8cd;
                font-size: 16px;
                font-weight: bold;
                color: red;
            }
            .button-back {
                display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fff3cd;
                font-size: 16px;
                font-weight: bold;
                color: red;
            }
        </style>
    {{ include('actualite/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
