{{ form_start (form,{attr:{class:'filter'}}) }}

{{ form_row(form.q) }}

<h4>Paretnaire</h4>
{{ form_row(form.partenaire) }}
<h4>Promotion</h4>
<div class=""row>
    <div >
        {{ form_row(form.min) }}
    </div>
    <div >
        {{ form_row(form.max) }}
    </div>
    <div >
        {{ form_row(form.promo) }}
    </div>
    <button type ="submit" class="btn btn-primary w-30"> filtrer</button>
</div>




{{ form_end (form) }}