{% extends 'base.html.twig' %}

{% block content %}

    <div class="card">


    <center> <img src="{{ asset('logoP/')~ promotion.idP.logoP ~''}}"  width="20%" height="20%" display="block"  border="0" alt="">

    <div class ="card-body" >


    <div class="card-title text-dark" style="font-weight: bold;font-size: 3rem;" >
        {{ promotion.idP.nomP }} <br>
        {{ utilisateur.nom }}  {{ utilisateur.prenom }}<br>


        <div class="card-title text-primary" style="font-weight: bold;font-size: 2rem;">
            {{ promotion.codeP }}<br>
            {{ promotion.reduction  }} %<br>


            <div>

                {% for p in promotion %}
                    <em class="text-primary">p.idP.nomP</em>
                {% endfor %}

            </div>
            <div class="card-title text-purple" style="font-weight: bolder;font-size: 1.5rem;">

                ({{ promotion.dated }} -
                {{ promotion.datef }})<br>




                <td><img  src="{{ qr_code_path('code promo:  ' ~ promotion.codeP  ~'\nnom partenaire:  ' ~ promotion.idP.nomP  ) }}"  width="30%" height="auto" display="block"  border="0"></td>
















            </div>


        </div>

        <style>
            .grid{
                display:grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap:20px;


            }
            .filter {

                display:block;
                position:fixed;
                top: 90px;
                left: 250px;

            }


        </style>



    </div>

{% endblock %}