{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}
{% block content %}
{% block body %}
    <h1>Promotion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProm</th>
                <td>{{ promotion.idProm }}</td>
            </tr>
            <tr>
                <th>CodeP</th>
                <td>{{ promotion.codeP }}</td>
            </tr>
            <tr>
                <th>Reduction</th>
                <td>{{ promotion.reduction }}</td>
            </tr>
            <tr>
                <th>Dated</th>
                <td>{{ promotion.dated }}</td>
            </tr>
            <tr>
                <th>Datef</th>
                <td>{{ promotion.datef }}</td>
            </tr>
            <tr>
                <th>IDP</th>
                <td>{{ promotion.partenaire.nomP }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('promotion_index') }}">back to list</a>

    <a href="{{ path('promotion_edit', {'idProm': promotion.idProm}) }}">edit</a>

    {{ include('promotion/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}