{% extends 'base.html.twig' %}
 {% block content %}

     {% block title %}

     {% endblock %}



     {% block body %}
         <h1>Partenaire index</h1>

         <table class="table">
             <thead>
             <tr>
                 <th>IdP</th>
                 <th>NomP</th>
                 <th>Domaine</th>
                 <th>DateP</th>
                 <th>Id</th>
                 <th>Mailp</th>
                 <th>Logop</th>
                 <th>actions</th>
             </tr>
             </thead>
             <tbody>
             {% for partenaire in partenaires %}
                 <tr>
                     <td>{{ partenaire.idP }}</td>
                     <td>{{ partenaire.nomP }}</td>
                     <td>{{ partenaire.domaine }}</td>
                     <td>{{ partenaire.dateP }}</td>
                     <td>{{ partenaire.id }}</td>
                     <td>{{ partenaire.mailp }}</td>
                     <td>{{ partenaire.logop }}</td>
                     <td>
                         <a href="{{ path('partenaire_show', {'idP': partenaire.idP}) }}">show</a>
                         <a href="{{ path('partenaire_edit', {'idP': partenaire.idP}) }}">edit</a>
                     </td>
                 </tr>
             {% else %}
                 <tr>
                     <td colspan="8">no records found</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>

         <a href="{{ path('partenaire_new') }}">Create new</a>
     {% endblock %}

 {% endblock %}