{% extends 'base.html.twig' %}

{% block title %}Partenaire{% endblock %}
{% block content %}
    {% block body %}
        <h1>Partenaire</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>IdP</th>
                <td>{{ partenaire.idP }}</td>
            </tr>
            <tr>
                <th>NomP</th>
                <td>{{ partenaire.nomP }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ partenaire.domaine }}</td>
            </tr>
            <tr>
                <th>DateP</th>
                <td>{{ partenaire.dateP }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ partenaire.id }}</td>
            </tr>
            <tr>
                <th>Mailp</th>
                <td>{{ partenaire.mailp }}</td>
            </tr>
            <tr>
                <th>Logop</th>
                <td>{{ partenaire.logop }}</td>
            </tr>
            </tbody>
        </table>

        <button type=“button” class="button-back"><a href="{{ path('partenaire_index') }}">back to list</a></button>

        <button type=“button” class="button-edit"><a href="{{ path('partenaire_edit', {'idP': partenaire.idP}) }}">edit</a></button>

        <style>


            .button-edit {
                display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fde8cd;
                font-size: 16px;
                font-weight: bold;
                color: red;
            }
            .button-back {
                display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fff3cd;
                font-size: 16px;
                font-weight: bold;
                color: red;
            }
        </style>

        {{ include('partenaire/_delete_form.html.twig') }}
    {% endblock %}
{% endblock %}