{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEns</th>
                <td>{{ enseignant.idEns }}</td>
            </tr>
            <tr>
                <th>Matiere</th>
                <td>{{ enseignant.matiere }}</td>
            </tr>
            <tr>
                <th>Bibliographie</th>
                <td>{{ enseignant.bibliographie }}</td>
            </tr>
            <tr>
                <th>Specialite</th>
                <td>{{ enseignant.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enseignant_index') }}">back to list</a>

    <a href="{{ path('enseignant_edit', {'idEns': enseignant.idEns}) }}">edit</a>

    {{ include('enseignant/_delete_form.html.twig') }}
{% endblock %}
