{% extends 'baseF.html.twig' %}


{% block title %}Tests{% endblock %}
{% block contentfr %}
    {% block bodyfr %}


        <main xmlns="http://www.w3.org/1999/html">
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">QUIZ 1</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <h3 class="text-heading">POO - Une seule réponse est bonne :)</h3>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
        <div class="container">
        <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
            <div class="blog_left_sidebar">
                {% set i = 0 %}
                {% for q in questions %}
                    <article class="blog_item">
                        <p>{{ q.textQ }}</p>

                        {% for r in reponses %}

                            {% if q.idQ==r.getIdR() %}
                                {% set i = i + 1 %}

                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                                <input id="{{ i }}" type="radio" name="{{ q.idQ }}" class="{{ q.idQ }}"
                                       value="{{ q.nbrPoint }}" onclick="{{ q.nbrPoint }}"/>   {{ r.textR1 }} <br>
                                <input id="okk" type="radio" name="{{ q.idQ }}" class="{{ q.idQ }}"
                                       value="{{ q.nbrPoint }}"/>   {{ r.textR2 }} <br>
                                <input type="radio" name="{{ q.idQ }}" class="{{ q.idQ }}"
                                       value="{{ q.nbrPoint }}"/>   {{ r.textR3 }} <br>
                                <input type="radio" name="{{ q.idQ }}" class="{{ q.idQ }}"
                                       value="{{ q.nbrPoint }}"/>   {{ r.textR4 }} <br><br>

                            {% endif %}
                        {% endfor %}


                        <br>

                    </article>


                {% endfor %}
                <form method="post" action="{{ path('test_indexcert', {'idTest':   'tests.idTest|last'}) }}">
                    <input type="submit" onclick="valider()" name="ProcessButton" value="Voir le résultat">
                    <input type="hidden" name="score" id="score" type="number">
                </form>



                </nav>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="blog_right_sidebar">

        <aside class="single_sidebar_widget newsletter_widget">
        <form action="#">
        <h3 class="text-heading">Timer</h3>
        <div id="countdown"></div>
        <script>
            let startingMinutes = 30;


            let time = startingMinutes * 60;

            const countDownEl = document.getElementById('countdown');

            setInterval(updateCountdown, 1000);

            function updateCountdown() {
                const minutes = Math.floor(time / 60);
                let seconds = time % 60;

                seconds = seconds < 10 ? '0' + seconds : seconds;

                countDownEl.innerHTML = `${minutes} : ${seconds}`;
                if (time > 0) {
                    time--;
                } else {
                    countDownEl.innerHTML = `Le test n'est pas comptabilisé !`
                }


            }


        </script>

        <script>


            function valider() {
                var score = 0;
                {% set y = 0 %}
                {% set x = 0 %}
                {% for j in questions %}
                {% set y = y + 1 %}

                var spare = document.getElementById('{{ y }}');


                if (spare.checked) {
                    {% set x = x + j.nbrPoint %}
                    alert("checked " + {{ x }});

                    document.getElementById("score").value = '{{ x }}';

                }
                {% endfor %}

            }


        </script>


    </form>
    </aside>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Blog Area End -->
    {% endblock %}
    </main>

{% endblock %}