{% extends 'base.html.twig' %}

{% block title %}Promotion index{% endblock %}
 {% block content %}
     {% block body %}
         <h1>Promotion index</h1>

         <table class="table">
             <thead>
             <tr>
                 <th>IdProm</th>
                 <th>CodeP</th>
                 <th>Reduction</th>
                 <th>Dated</th>
                 <th>Datef</th>
                 <th>IdP</th>
                 <th>NomP</th>
                 <th>DescP</th>
                 <th>actions</th>
             </tr>
             </thead>
             <tbody>
             {% for promotion in promotions %}
                 <tr>
                     <td>{{ promotion.idProm }}</td>
                     <td>{{ promotion.codeP }}</td>
                     <td>{{ promotion.reduction }}</td>
                     <td>{{ promotion.dated }}</td>
                     <td>{{ promotion.datef }}</td>
                     <td>{{ promotion.idP }}</td>
                     <td>{{ promotion.nomP }}</td>
                     <td>{{ promotion.descP }}</td>
                     <td>
                         <a href="{{ path('promotion_show', {'idProm': promotion.idProm}) }}">show</a>
                         <a href="{{ path('promotion_edit', {'idProm': promotion.idProm}) }}">edit</a>
                     </td>
                 </tr>
             {% else %}
                 <tr>
                     <td colspan="9">no records found</td>
                 </tr>
             {% endfor %}
             </tbody>
         </table>

         <a href="{{ path('promotion_new') }}">Create new</a>
     {% endblock %}
 {% endblock %}