{% extends 'base.html.twig' %}

{% block title %}Theme index{% endblock %}
{% block content %}

{% block body %}
    <h1>Theme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdT</th>
                <th>NomT</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.idT }}</td>
                <td>{{ theme.nomT }}</td>
                <td>{{ theme.image }}</td>
                <td>
                    <a href="{{ path('theme_show', {'idT': theme.idT}) }}">show</a>
                    <a href="{{ path('theme_edit', {'idT': theme.idT}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('theme_new') }}">Create new</a>
{% endblock %}
{% endblock %}
