{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdRec</th>
                <th>Objet</th>
                <th>TextR</th>
                <th>DateEnvoi</th>
                <th>Id</th>
                <th>Cours</th>
                <th>Enseignant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idRec }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.textR }}</td>
                <td>{{ reclamation.dateEnvoi }}</td>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.cours }}</td>
                <td>{{ reclamation.enseignant }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'idRec': reclamation.idRec}) }}">show</a>
                    <a href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reclamation_new') }}">Create new</a>
{% endblock %}
