{% extends 'base.html.twig' %}
 {% block content %}

     {% block title %}

     {% endblock %}



     {% block body %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdRec</th>
                <th>Objet</th>
                <th>TextR</th>
                <th>DateEnvoi</th>
                <th>Id</th>
                <th>Cours</th>
                <th>Enseignant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.idRec }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.textR }}</td>
                <td>{{ reclamation.dateEnvoi }}</td>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.cours }}</td>
                <td>{{ reclamation.enseignant }}</td>
                <td>
                    <button type=“button” class="button-show">   <a href="{{ path('reclamation_show', {'idRec': reclamation.idRec}) }}">show</a></button>
                    <button type=“button” class="button-edit"> <a href="{{ path('reclamation_edit', {'idRec': reclamation.idRec}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

         <button type=“button” class="button-create">  <a href="{{ path('reclamation_new') }}">Create new</a></button>
         <style>

             .button-create {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #fff3cd;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }
             .button-show {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #d3e0ea;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }
             .button-edit {
                 display: inline-block;
                 padding: 12px 18px;
                 cursor: pointer;
                 border-radius: 5px;
                 background-color: #fde8cd;
                 font-size: 16px;
                 font-weight: bold;
                 color: red;
             }

         </style>
{% endblock %}
 {% endblock %}