{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}
{% block content %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table" id="tableac">

        <div class="input-group mb-3">
            <input type="text" id="search" class="form-control" placeholder='Search Keyword'>
            <div class="input-group-append">
                <button type=“button” class="form-control"><a href="{{ path('triName') }}">Faire un tri </a></button>
            </div>
        </div>

        <thead>
            <tr>
                <th>IdC</th>
                <th>NomC</th>
                <th>Pdf</th>
                <th>Description</th>
                <th>Nbparticipant</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.idC }}</td>
                <td>{{ cour.nomC }}</td>
                <td>{{ cour.pdf }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.nbparticipant }}</td>
                <td>{{ cour.image }}</td>
                <td>
                    <a href="{{ path('cours_show', {'idC': cour.idC}) }}">show</a>
                    <a href="{{ path('cours_edit', {'idC': cour.idC}) }}">edit</a>
                </td>
            </tr>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script>
                $(document).ready(function(){
                    $('#search').keyup(function(){
                        search_table($(this).val());
                    });
                    function search_table(value){
                        $('#tableac tbody tr').each(function(){
                            var found = 'false';
                            $(this).each(function(){
                                if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                                {
                                    found = 'true';
                                }
                            });
                            if(found === 'true')
                            {
                                $(this).show();

                            }
                            else
                            {
                                $(this).hide();

                            }
                        });
                    }
                });
            </script>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>



{% endblock %}
{% endblock %}
